{% if localization.available_countries.size > 1 %}
  <localization-form>
    {% form 'localization' %}
      <div className="disclosure">
        <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
          <img
            src="{{ localization.country.iso_code | downcase | append: '.svg' | asset_url }}"
            alt="{{ localization.country.iso_code }}"
            width="30"
            height="30"
          >
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
              fill="currentColor">
            </path>
          </svg>
        </button>

        <ul id="CountryList" role="list" className="disclosure__list" hidden>
          {% for country in localization.available_countries %}
            <li class="disclosure__item d-flex justify-space-between align-center no-wrap gap-1 mb-1" tabindex="-1">
              <a
                class="d-flex justify-space-between align-center no-wrap gap-1"
                href="#"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true"
                {% endif %}
                data-value="{{ country.iso_code }}"
                data-iso="{{ country.currency.iso_code }}"
              >
                <img
                  src="{{ country.iso_code | downcase | append: '.svg' | asset_url }}"
                  alt="{{ country.iso_code }}"
                  width="30"
                  height="30"
                >
                {{ country.currency.iso_code }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}

<script src="{{ 'localization.js' | asset_url }}" defer="defer"></script>
{{ 'localization.css' | asset_url | stylesheet_tag }}
<style>
  .disclosure__list,
  #CountryList {
    {% comment %} background:{{ settings.color_background }}; {% endcomment %}
    background:#f8f8f8;
  }
</style>
