<div class="social-media">
  {%- if settings.facebook_icons_flag and settings.facebook -%}
    <a class="social-media-link" href="{{settings.facebook}}">
      {{ 'facebook-icon.svg' | inline_asset_content }}
    </a>
  {%- endif -%}
  {%- if settings.yahoo_icons_flag and settings.yahoo -%}
    <a class="social-media-link" href="{{settings.yahoo}}">
      {{ 'yahoo-icon.svg' | inline_asset_content }}
    </a>
  {%- endif -%}
  {%- if settings.pinterest_icons_flag and settings.pinterest -%}
    <a class="social-media-link" href="{{settings.pinterest}}">
      {{ 'pinterest-icon.svg' | inline_asset_content }}
    </a>
  {%- endif -%}
  {%- if settings.instagram_icons_flag and settings.instagram -%}
    <a class="social-media-link" href="{{settings.instagram}}">
      {{ 'instagram-icon.svg' | inline_asset_content }}
    </a>
  {%- endif -%}
</div>

<style>
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
  }
  .social-media-link svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  .social-media-link {
    width: 2rem;
    height: 2rem;
    background: #ffffff;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
