{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
<script src="{{'product-slider.js' |asset_url }}" defer="defer"></script>
<div class="main">
  <div class="container page-pa featured-collection-{{ section.id }}">
    <div class="section-heading-{{section.id}} {{section.settings.heading_alignment}} {{section.settings.heading_case}} mb-2">
      {{ section.settings.heading }}
    </div>
    {%- if section.settings.slider_view -%}
      <div class="featured-collection-container-{{section.id}}">
        {% for block in section.blocks %}
          {% assign collection = block.settings.collection %}

          <product-slider class="products-wrapper">
            <span class="back_button d-flex">
              {{- 'back_arrow_icon.svg' | inline_asset_content -}}
            </span>

            <div class="products">
              {% for product in collection.products %}
                <div class="product-card">
                  <a href="{{ product.url }}">
                    <div class="p-relative">
                      <img
                        width="auto"
                        height="auto"
                        src="{{ product.featured_image | image_url: width: 400 }}"
                        alt="{{ product.title }}"
                      >
                      <div class="add_to_cart_btn p-absolute bottom-0 text-align-center p-1 bg-black white w-100">
                        Add To Cart
                      </div>
                    </div>

                    <p>{{ product.title }}</p>
                    <strong>{{ product.price | money }}</strong>
                  </a>
                </div>
              {% endfor %}
            </div>

            <span class="forward_button d-flex">
              {{- 'forward_arrow_icon.svg' | inline_asset_content -}}
            </span>
          </product-slider>
        {% endfor %}
      </div>
    {%- else -%}
      <div class="featured-collection-container-{{section.id}}">
        {% for block in section.blocks %}
          {% assign collection = block.settings.collection %}

          {% if collection != blank %}
            <div class="featured-collection-card d-grid grid-template-col-2 gap-1">
              <img
                width="auto"
                height="auto"
                src="{{ collection.featured_image | image_url: width: 600 }}"
                alt="{{ collection.title }}"
              >

              <div class="products d-grid grid-template-col-2 gap-1">
                {% for product in collection.products limit: 4 %}
                  <div class="product-card">
                    <a href="{{ product.url }}">
                      <span class="p-relative">
                        <img
                          width="auto"
                          height="auto"
                          src="{{ product.featured_image | image_url: width: 400 }}"
                          alt="{{ product.title }}"
                        >
                        <div class="p-absolute z-index-1 text-center bottom-0 bg-black white w-100 p-1 add_to_cart_btn">
                          Add To Cart
                        </div>
                      </span>
                      <p>{{ product.title }}</p>
                      <span
                        ><strong>{{ product.price | money }}</strong></span
                      >
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {%- endif -%}
  </div>
</div>

<style>
            .featured-collection-container-{{section.id}} svg {
            width:1rem;
            height:1rem;
          }
          {%- if section.settings.slider_view -%}
          .featured-collection-container-{{section.id}} .products{
      display:flex;
      overflow-x:auto;
      scroll-behavior:smooth;
      gap:16px;
    }
          {%- endif -%}
      .featured-collection-{{ section.id }} img{
          display: block;
      width: 100%;
    }
    .product-card .add_to_cart_btn {
      display:none;
    }
    .product-card:hover .add_to_cart_btn {
    display:block;
    }
    @media (max-width:768px){
      .featured-collection-card{grid-template-columns: repeat(1, 2fr);}
  }
</style>
{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    { "type": "richtext", "label": "Heading", "id": "heading", "default": "<h1>shop by categories</h1>" },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "justify-self-left",
          "label": "Left"
        },
        {
          "value": "justify-self-center",
          "label": "Center"
        },
        {
          "value": "justify-self-right",
          "label": "Right"
        }
      ],
      "default": "justify-self-center"
    },
    { "type": "checkbox", "label": "Slider view", "id": "slider_view", "default": false },
    {
      "type": "select",
      "id": "heading_case",
      "label": "Heading Case",
      "options": [
        { "value": "uppercase", "label": "Uppercase" },
        { "value": "lowercase", "label": "Lowercase" },
        { "value": "capitalize", "label": "Capitalize" }
      ],
      "default": "uppercase"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "settings": {}
    }
  ]
}
{% endschema %}
