<div class="hero-section">
  <div class="hero-wrapper">
    {% if section.settings.image != blank %}
      <div class="hero-media">
        <img
          width="auto"
          height="auto"
          src="{{ section.settings.image | image_url }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
        >
        <div class="hero-overlay"></div>
      </div>
    {% endif %}

    <div class="hero-content {% if section.settings.is_in_container %}container{% endif %}">
      {% if section.settings.heading != blank %}
        <h2 class="hero-heading">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.sub_heading != blank %}
        <div class="hero-subheading">
          {{ section.settings.sub_heading }}
        </div>
      {% endif %}
      <div class="d-flex row gap-1">
        {% if section.settings.button_label != blank %}
          <a href="{{ section.settings.button_url }}" class="hero-button">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
        {% if section.settings.button_label_2 != blank and section.settings.button_url_2 %}
          <a href="{{ section.settings.button_url_2 }}" class="hero-button">
            {{ section.settings.button_label_2 }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ 'hero-banner.css' | asset_url | stylesheet_tag }}
<style>
  .hero-media img {
    height: {{ section.settings.image_height }}rem;
  }

  .hero-overlay {
    background: {{ section.settings.overlay_color }};
    opacity: {{ section.settings.overlay_opacity }};
  }

  .hero-content.container {
    max-width: {{ section.settings.container_width }}rem;
  }

  .hero-heading {
    font-size: {{ section.settings.heading_size }};
    font-weight: {{ section.settings.heading_weight }};
    text-transform: {{ section.settings.heading_case }};
    color: {{ section.settings.text_color }};
    letter-spacing:{{ section.settings.heading_letter_spacing }}px;
    line-height: {{section.settings.heading_line_height}}px;
  }

  .hero-subheading p,
  .hero-subheading h1,
  .hero-subheading h2,
  .hero-subheading h3,
  .hero-subheading h4,
  .hero-subheading h5,
  .hero-subheading h6,
  .hero-subheading {
    color: {{ section.settings.text_color }};
    font-weight: {{ section.settings.sub_heading_weight }};
  }

  .hero-button {
    background: {{ section.settings.button_bg }};
    color: {{ section.settings.button_color }};
  }

  @media (max-width: 768px) {
    {%- if section.settings.heading_size == '48px' -%}
    .hero-heading {
      font-size: clamp(2rem, 5vw, {{ section.settings.heading_size }});
    }
    {%- endif -%}
  }
</style>
{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "Image Height",
      "min": 20,
      "max": 80,
      "step": 5,
      "default": 40,
      "unit": "rem"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.4
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Your Heading Here"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Subheading"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        { "value": "48px", "label": "XL" },
        { "value": "36px", "label": "Large" },
        { "value": "24px", "label": "Medium" },
        { "value": "18px", "label": "Small" }
      ],
      "default": "36px"
    },

    {
      "type": "range",
      "id": "heading_letter_spacing",
      "label": "Heading Letter Spacing",
      "min": -10,
      "max": 20,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading Line Height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "600", "label": "Semi Bold" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "600"
    },
    {
      "type": "select",
      "id": "heading_case",
      "label": "Heading Case",
      "options": [
        { "value": "none", "label": "Default" },
        { "value": "uppercase", "label": "Uppercase" },
        { "value": "lowercase", "label": "Lowercase" },
        { "value": "capitalize", "label": "Capitalize" }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "sub_heading_weight",
      "label": "Subheading Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "600", "label": "Semi Bold" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "400"
    },
    {
      "type": "checkbox",
      "id": "is_in_container",
      "label": "Limit content width"
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Content Max Width",
      "min": 30,
      "max": 100,
      "step": 5,
      "default": 60,
      "unit": "rem"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
