<div class="image-text-section">
  <div class="image-text-container-{{ section.id }}">
    {% if section.settings.image %}
      <div style="order:{{ section.settings.row_direction }}" class="image-wrapper">
        <img
          width="auto"
          height="auto"
          class="section-image"
          src="{{ section.settings.image | image_url: width: 1200 }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
        >
      </div>
    {% endif %}

    <div class="content-wrapper">
      {% if section.settings.heading != blank %}
        <h1 class="section-heading">
          {{ section.settings.heading }}
        </h1>
      {% endif %}

      {% if section.settings.sub_heading != blank %}
        <h3 class="section-subheading">
          {{ section.settings.sub_heading }}
        </h3>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="section-description">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% if section.settings.button_url != blank %}
        <a href="{{ section.settings.button_url }}" class="section-button button">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
{{ 'image-with-text.css ' | asset_url | stylesheet_tag }}
<style>
  .image-text-container-{{ section.id }} {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 2rem 3rem;
  align-items: center;
  }

  .image-text-container-{{ section.id }} .image-wrapper {
  width: 100%;
  }
  .image-text-container-{{ section.id }} .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }
  @media (max-width: 768px) {
  .image-text-container-{{ section.id }} {
  grid-template-columns: 1fr;
  padding: 1.5rem;
  }
  }
  .button {
  color:{{ section.settings.button_text_color }} !important;
  background-color:{{ section.settings.button_bg_color }}!important;
  }
</style>
{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "text",
      "label": "Sub heading",
      "id": "sub_heading"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "description"
    },
    {
      "type": "select",
      "id": "row_direction",
      "label": "Direction",
      "options": [
        {
          "value": "0",
          "label": "Normal"
        },
        {
          "value": "1",
          "label": "Reverse"
        }
      ],
      "default": "0"
    },
    {
      "type": "text",
      "label": "Button label",
      "id": "button_label",
      "default": "About Us"
    },
    {
      "type": "color",
      "label": "Button BG color",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button text color",
      "id": "button_text_color",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "label": "Button url",
      "id": "button_url"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "settings": {}
    }
  ]
}
{% endschema %}
