<div class="image-text-section mb-2">
  <div class="image-text-container-{{ section.id }}">
    {% if section.settings.image %}
      <div style="order:{{ section.settings.row_direction }}" class="image-wrapper">
        <img
          width="auto"
          height="auto"
          class="section-image"
          src="{{ section.settings.image | image_url: width: 1200 }}"
          alt="{{ section.settings.image.alt | escape }}"
          loading="lazy"
        >
      </div>
    {% endif %}

    <div class="content-wrapper">
      {% if section.settings.heading != blank %}
        <h1 class="section-heading {% if section.settings.container_width_flag %}container_width{% endif %}">
          {{ section.settings.heading }}
        </h1>
      {% endif %}

      {% if section.settings.sub_heading != blank %}
        <h3 class="section-subheading {% if section.settings.container_width_flag %}container_width{% endif %}">
          {{ section.settings.sub_heading }}
        </h3>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="section-description {% if section.settings.container_width_flag %}container_width{% endif %}">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% if section.settings.button_url != blank %}
        <a href="{{ section.settings.button_url }}" class="section-button button">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
      {%- if section.settings.email_flag -%}
        {% form 'customer', class: 'newsletter-form' %}
          <div class="newsletter-input-wrapper d-flex column gap-1">
            <input
              type="email"
              name="contact[email]"
              placeholder="Enter your email"
              required
              class="border-unset"
            >

            <button
              type="submit"
              style="background:black;color:white"
            >
              {{ 'visit our store' | upcase }}
            </button>
          </div>

          {% if form.posted_successfully? %}
            <p class="success-message">Thank you for subscribing!</p>
          {% endif %}

          {% if form.errors %}
            <p class="error-message">{{ form.errors | default_errors }}</p>
          {% endif %}
        {% endform %}
      {%- endif -%}
    </div>
  </div>
</div>
{{ 'image-with-text.css' | asset_url | stylesheet_tag }}
<style>
  .image-text-container-{{ section.id }} {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  {%- if section.settings.padding_flag -%}
      padding: 0 0 0 3rem;
  {%- else -%}
    padding: 2rem 3rem;
  {%- endif -%}
  align-items: center;
  background: {{ section.settings.bg_color }};
  }

  .image-text-container-{{ section.id }} .image-wrapper {
  width: 100%;
  }
  .image-text-container-{{ section.id }} .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }
  .image-text-container-{{ section.id }} .content-wrapper h1{
  text-transform:{{ section.settings.text_transform }}
  }
  .container_width{
  max-width:{{section.settings.container_width}}px
  }
  @media (max-width: 768px) {
  .image-text-container-{{ section.id }} {
  grid-template-columns: 1fr;
  padding: 1.5rem;
  }
  }
  .button {
  color:{{ section.settings.button_text_color }} !important;
  background-color:{{ section.settings.button_bg_color }}!important;
  }

  form {
  width: 100%;
  margin-top:1rem;
  }
  form input ,form button{
  padding:1rem;
}
</style>
{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },

    {
      "type": "select",
      "id": "text_transform",
      "label": "Text Transform",
      "options": [
        { "value": "none", "label": "Default" },
        { "value": "uppercase", "label": "Uppercase" },
        { "value": "lowercase", "label": "Lowercase" },
        { "value": "capitalize", "label": "Capitalize" }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "label": "Sub heading",
      "id": "sub_heading"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "description"
    },
    {
      "type": "checkbox",
      "label": "Container width",
      "id": "container_width_flag",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Full image",
      "id": "padding_flag",
      "default": false
    },
    {
      "type": "range",
      "label": "Container width",
      "id": "container_width",
      "min": 200,
      "max": 700,
      "step": 5,
      "unit": "px",
      "info": "this is the range of container max width",
      "default": 500
    },
    {
      "type": "select",
      "id": "row_direction",
      "label": "Direction",
      "options": [
        {
          "value": "0",
          "label": "Normal"
        },
        {
          "value": "1",
          "label": "Reverse"
        }
      ],
      "default": "0"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f8f8f8"
    },
    { "type": "checkbox", "label": "allow email subscription form", "id": "email_flag", "default": false },
    {
      "type": "text",
      "label": "Button label",
      "id": "button_label",
      "default": "About Us"
    },
    {
      "type": "color",
      "label": "Button BG color",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button text color",
      "id": "button_text_color",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "label": "Button url",
      "id": "button_url"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "settings": {}
    }
  ]
}
{% endschema %}
